Source: json-override-test-assignment
Section: python
X-Python3-Version: >= 3.8
Priority: extra
Maintainer: Alexander Makarov <alexander.makarov@live.com>
Build-Depends: python3, debhelper, dh-python (>= 4.2)
Standards-Version: 4.0.0
Homepage: https://github.com/AlxndrMkrv/json_override_test_assignment

Package: json-override-test-assignment
Architecture: any
Depends: python3-pyside2.qtcore, python3-pyside2.qtwidgets, python3-all
Description: Test assignment to create Qt GUI manipulating with JSON files